<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <main>
        <!-- Sections for different content -->
        <section id="home" class="active">
            <div class="app">
                <div class="one user-details" id="userdetails">
                    <h2 class="username"><%= username %> </h2>
                    <h2 class="balance">
                        <img src="images/logo.png" alt="logo">
                        <span>  <%= balance %> </span>
                    </h2>
                </div>
                <div class="two hammer">
                    <div class="hammer-start">
                        <img src="images/Start.gif" alt="hammer hitting vault">
                    </div>
                </div>
                <div class="three claimform">
                    <div class="time-left">
                        <h2>CLAIM IN</h2>    
                        <div class="hours" id="hours"></div>
                        <div class="minutes" id="minutes"></div>
                        <div class="seconds" id="seconds"></div>
                    </div>
                    <form action="/claim" method="post" id="claimForm">
                        <button type="submit" name="telegramId" id="claimButton" value="<%= telegramId %>" disabled>Claim 1000</button>
                    </form>
                </div>
            </div>
        </section>
     
        <section id="friends">
            <div class="one title" id="title">
                <img src="assets/friends.svg" alt="logo">
            </div>
            <div class="two info">
                <div class="invite">
                    <span>Invite your friends and get 1000 $HON on every referral.</span>
                </div>
                <div class="action-buttons">

                    <button class="copy" id="copyButton">
                        <img src="assets/copy.svg" width="20px" alt="">
                        Copy</button>
                    <button class="share" id="shareButton">
                        <img src="assets/share.svg" width="20px" alt="">
                        Share</button>
                    <div id="copied" class="hidden">Referral link copied!</div>

                </div>
            </div>
            <div class="three referral-info">
                <div class="referred">
                    <h2 class="friends">Friends: <%= referredUsers %></h2>  
                    <h2 class="earned">Earned: <%= referredUsers %>K </h2>
                </div>
            </div>
        </section>

        <section id="earn">
            <div class="task-title">
                <h2>Heirston tasks</h2>
                <p>Complete tasks to earn more point and join heirston community to get updates.</p>
            </div>
            <div class="tasks-actions">        
                <div class="task">
                    <form action="/completeTask" name="telegramOne" method="post">
                        <div class="task-image">
                            <img src="/images/instagram.svg" width="35px" alt="">
                        </div>
                        <div class="task-details">
                            <h2 class="task-name">Join Heirston Telegram</h2>
                            <p class="task-reward">+2000 $HON</p>
                        </div>
                        <div class="task-claim">
                            <button type="submit" style="color: antiquewhite;">
                                <a href="t.me/heirston" target="_blank">Claim</a>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="task">
                    <form action="/completeTask" name="telegramOne" method="post">
                        <div class="task-image">
                            <img src="/images/tiktok.svg" width="35px" alt="">
                        </div>
                        <div class="task-details">
                            <h2 class="task-name">Join Heirston Telegram</h2>
                            <p class="task-reward">+2000 $HON</p>
                        </div>
                        <div class="task-claim">
                            <button type="submit" style="color: antiquewhite;">
                                <a href="t.me/heirston" target="_blank">Claim</a>
                            </button>
                        </div>
                    </form>
                </div>
           </div> 
        </section>
        <section id="boost">
            <div class="task-title">
                <img src="assets/rocket.png" width="50px" alt="">
                <h2>Boosters</h2>
                <p>Reduce crack time by activating boosters.</p>
            </div>
           <div class="tasks-actions">    
                <div class="task">
                <form action="/activateBooster" name="tenMinutesBooster" method="post">
                        <div class="task-image">
                            <img src="/assets/time.svg" width="35px" alt="">
                        </div>
                        <div class="task-details">
                            <h2 class="task-name">Crack in 10 Minutes</h2>
                            <p class="task-reward">-1,000,000 $HON</p>
                        </div>
                        <div class="task-claim">
                            <button type="submit" style="color: antiquewhite;">
                                <a href="t.me/heirston" target="_blank">Activate</a>
                            </button>
                        </div>
                        </form>
                </div>    
            </div>
        </section>
        
    </main>
    <div class="four">
        <nav>
            <button onclick="showSection('friends')" class="nav-link">
                <img src="assets/friends.svg" width="20px" alt="">
                Frends
            </button>
           
            <button onclick="showSection('home')"class="nav-link">
                        <img src="assets/smash.svg" width="20px" alt="">
                        Smash
            </button>
                
            <button onclick="showSection('earn')" class="nav-link">
                            <img src="assets/earn.svg" width="20px" alt="">
                            Earn
            </button>     
            <button onclick="showSection('boost')"class="nav-link">
                        <img src="assets/boost.svg" width="20px" alt="">
                        Boost
            </button>
            
        </nav>
    </div>
    
 
    <script>
        function showSection(sectionId) {
            // Hide all sections
            document.querySelectorAll('section').forEach(section => {
                section.classList.remove('active');
            });

            // Show the selected section
            document.getElementById(sectionId).classList.add('active');
        }
    </script>
       <script src="https://unpkg.com/@telegram-apps/sdk@1.0.0/dist/index.iife.js"></script>
       <script>
           document.addEventListener('DOMContentLoaded', () => {
   // Call the postEvent function directly
   var { postEvent } = window.telegramApps.sdk;
   postEvent('web_app_expand');

   const claimButton = document.getElementById('claimButton');
   const claimForm = document.getElementById('claimForm'); 
   function updateCountdown() {
       let hoursLeft = document.getElementById('hours');
       let minutesLeft = document.getElementById('minutes');
       let secondsLeft = document.getElementById('seconds');
       const now = new Date().getTime();
       const nextClaimTime = parseInt('<%= nextClaimTime %>');
       const distance = nextClaimTime - now;

       if (distance < 0) {
           // Set all elements to '00'
           hoursLeft.innerText = '00';
           minutesLeft.innerText = '00';
           secondsLeft.innerText = '00';
           claimButton.disabled = false;
           claimButton.addEventListener('submit', (event) => {
                event.preventDefault();
                const show = document.getElementById('copied');
                show.classList.remove('hidden');                
                setTimeout(() => {
                    show.classList.add('hidden');
                    claimForm.submit();
                }, 2000);
            })
       } else {
           const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
           const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
           const seconds = Math.floor((distance % (1000 * 60)) / 1000);
           hoursLeft.innerText = hours.toString().padStart(2, '0') +`h`;
           minutesLeft.innerText = minutes.toString().padStart(2, '0')+`m`;
           secondsLeft.innerText = seconds.toString().padStart(2, '0')+`s`;
           claimButton.disabled = true;
       }
   }

   setInterval(updateCountdown, 1000);

   document.getElementById('copyButton').addEventListener('click', () => {
    // Copy text to clipboard
    const telegramId = `<%= telegramId %>`
    const referralLink = `https://t.me/heirstestthree_bot?start=${telegramId}`;
    navigator.clipboard.writeText(referralLink).then(() => {
        // Show the pop-up
        const show = document.getElementById('copied');
        show.classList.remove('hidden');
        
        // Hide the pop-up after 2 seconds
        setTimeout(() => {
            show.classList.add('hidden');
        }, 2000); // Duration to show the pop-up
    }).catch(err => {
        console.error('Failed to copy text: ', err);
    });
});
function handleShare() {
    const telegramId = "<%= telegramId %>"; // Make sure this is properly replaced
    const message = encodeURIComponent('Hey! Join Heirston and let us explore together!');
    const url = `https://t.me/share/url?url=https://t.me/heirstestthree_bot?start=${telegramId}&text=${message}`;
    
    // Open the share link in a new tab
    window.open(url, '_blank');
}
// Attach the event listener to the button
document.getElementById('shareButton').addEventListener('click', handleShare);

           })


  

       </script>
</body>
</html>
